<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>

    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            
            
            <p>New Zealand is a peaceful country.</p>
            <p><a href="auckland">Auckland</a> is the commercial hub of New Zealand</p>
            <p style="color:#23086f">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, vel! Itaque, ipsam, quo molestias nemo veniam consectetur qui voluptates dolorum, eius harum cupiditate. Laudantium sit reiciendis maiores distinctio qui harum!
            </p>

        </div>
    </body>
</html>